.about {
  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__description {
    font-family: "Yantramanav", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.6px;

    @include onTablet {
      text-align: start;
    }
  }

  &__photo {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
  }

  &__picture {
    min-height: calc(320px * 1.25);
    height: calc(100vw * 1.25);
    max-height: calc(1280px / 2 * 1.25);

    @include onTablet {
      height: calc(50vw * 1.25);
    }
  }

  &__info {
    padding: 30px 50px;
    margin: 0 auto;

    @include onTablet {
      padding: 50px 8%;
    }

    @include onDesktop {
      padding: 50px 18% 50px 17%;
    }
  }
}
