.customers {
  &__content {
    display: flex;
    flex-direction: column;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 115px;
    }
  }

  &__description {
    @extend %subtitle;

    position: relative;
    margin: 0 auto;
    max-width: 380px;
    padding: 0 16px;
    line-height: 24px;
    margin-bottom: 30px;

    @include onTablet {
      margin-left: 5px;
      line-height: 30px;
      margin-bottom: 90px;
    }

    &:nth-of-type(2) {
      margin-left: -15px;
      font-size: 17px;
      margin-bottom: 0;
    }
  }

  &__photo {
    display: flex;
    margin: 0 auto;
    max-width: 70%;

    @include onTablet {
      max-width: 100%;
    }
  }

  &__picture {
    min-height: 400px;
    
    @include onTablet {
      min-height: 600px;
    }

    @include onDesktop {
      min-height: 800px;
    }

    &:nth-child(1) {
      order: 1;
      margin-bottom: 30px;
    }

    @include onTablet {
      &:nth-child(1) {
        order: 0;
        margin-bottom: 0;
      }
    }
  }

  &__info {
    padding: 30px 40px;

    @include onTablet {
      padding: 20% 21% 18% 22%;
    }

    &--2 {
      @include onTablet {
        padding: 33% 25% 18%;
      }
    }
  }
}

.quotes {
  &::before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQBAMAAAD6/3KbAAAAAXNSR0IB2cksfwAAAC1QTFRFAAAA3Nzc3Nzc4eHh3d3d3Nzc3d3d3Nzc3Nzc3Nzc29vb3Nzc3Nzc3d3d2trafFftrgAAAA90Uk5TADPMEUTdqv+77lVmmXci3BHKaQAAAJVJREFUeJwlzjsOQVEUheF14x2PGMNVaHWGoJWbnGhNQUR+bkh0Wp1WJ0YgOp1Wp9WZhuWc6mt29r8kZXk+kFQtInVYmmaiAUczhqm5wN7c4GEO8DJDOEsVoJ8YSe1EFza+qMEqsU6/tuYLO/OG0jxhYWapeor0iPGMGO8Q457HXGoR4573j09S3PP4SNcQguP3EArpB29PODWrgKIcAAAAAElFTkSuQmCC");
    position: absolute;
    top: -20px;
    left: -20px;

    @include onTablet {
      top: -46px;
      left: 5px;
    }
  }

  &::after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQBAMAAAD6/3KbAAAAAXNSR0IB2cksfwAAAC1QTFRFAAAA3Nzc3Nzc4eHh3d3d3Nzc3d3d3Nzc3Nzc3Nzc29vb3Nzc3Nzc3d3d2trafFftrgAAAA90Uk5TADPMEUTdqv+77lVmmXci3BHKaQAAAJVJREFUeJwlzjsOQVEUheF14x2PGMNVaHWGoJWbnGhNQUR+bkh0Wp1WJ0YgOp1Wp9WZhuWc6mt29r8kZXk+kFQtInVYmmaiAUczhqm5wN7c4GEO8DJDOEsVoJ8YSe1EFza+qMEqsU6/tuYLO/OG0jxhYWapeor0iPGMGO8Q457HXGoR4573j09S3PP4SNcQguP3EArpB29PODWrgKIcAAAAAElFTkSuQmCC");
    rotate: 180deg;
    position: absolute;
    bottom: -20px;
    right: -20px;

    @include onTablet {
      bottom: -20px;
      right: 2px;
    }
  }

  &--2 {
    &::before {
      @include onTablet {
        top: -46px;
        left: -20px;
      }
    }

    &::after {
      @include onTablet {
        bottom: -20px;
        right: -17px;
      }
    }
  }
}
