.customers {
  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 124px;
    }
  }

  &__description {
    @extend %subtitle;

    position: relative;
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
    line-height: 24px;
    margin-bottom: 30px;

    @include onTablet {
      line-height: 30px;
      margin-bottom: 100px;
    }

    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }

  &__photo {
    display: none;
    @include onTablet {
      display: block;
      max-width: 100%;
    }
  }

  &__info {
    padding: 30px 40px;

    @include onTablet {
      padding: 100px;
    }
  }
}

.quotes {
  &::before {
    content: url("./../images/open-quote.png");
    position: absolute;
    top: -20px;
    left: -20px;

    @include onTablet {
      top: -50px;
      left: 0;
    }
  }

  &::after {
    content: url("./../images/close-quote.png");
    position: absolute;
    bottom: -20px;
    right: -20px;

    @include onTablet {
      bottom: -50px;
      right: 0;
    }
  }
}
