.features {
  background-color: #e1e0e1;

  &__content {
    margin-top: 80px;
    padding: 80px 10px 30px;

    @include onTablet {
      padding: 83px 60px 30px;
    }
  }

  &__title {
    @extend %title;
    margin-top: -7px;
    margin-bottom: 10px;

    @include onTablet {
      margin-left: 30px;
    }
  }

  &__subtitle {
    @extend %subtitle;

    letter-spacing: 0.1px;
    font-size: 18px;

    @include onTablet {
      margin-bottom: -12px;
      margin-left: 35px;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0;
    list-style: none;
    font-family: "Yantramanav", sans-serif;

    @include onTablet {
      justify-content: space-between;
    }

    &__container {
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      position: relative;

      @include onDesktop {
        .features__item {
          &::after {
            content: "";
            position: absolute;
          }

          &::before {
            content: "";
            box-sizing: border-box;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border: 4px solid #81c599;
            border-radius: 20px;
            position: absolute;
          }
        }

        &--1 .features__item {
          &:nth-child(1) {
            &::after {
              top: 52px;
              right: -79px;
              width: 80px;
              height: 117px;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
            }

            &::before {
              bottom: -92px;
              right: -91px;
            }
          }

          &:nth-child(2) {
            &::after {
              bottom: 30px;
              right: -100px;
              width: 110px;
              height: 1px;
              border-top: 1px solid #fff;
            }

            &::before {
              bottom: 19px;
              right: -110px;
            }
          }

          &:nth-child(3) {
            &::after {
              top: 60px;
              right: -110px;
              width: 120px;
              height: 1px;
              border-top: 1px solid #fff;
            }

            &::before {
              top: 48px;
              right: -120px;
            }
          }

          &:nth-child(4) {
            &::after {
              top: 15px;
              right: -220px;
              width: 230px;
              height: 57px;
              border-bottom: 1px solid #fff;
              border-right: 1px solid #fff;
            }

            &::before {
              top: 0;
              right: -231px;
            }
          }
        }

        &--2 .features__item {
          &:nth-child(1) {
            &::after {
              top: 40px;
              left: -325px;
              width: 340px;
              height: 112px;
              border-top: 1px solid #fff;
              border-left: 1px solid #fff;
            }

            &::before {
              bottom: -100px;
              left: -336px;
            }
          }

          &:nth-child(2) {
            &::after {
              top: 50px;
              left: -270px;
              width: 280px;
              height: 100px;
              border-top: 1px solid #fff;
              border-left: 1px solid #fff;
            }

            &::before {
              bottom: -50px;
              left: -281px;
            }
          }

          &:nth-child(3) {
            &::after {
              top: 35px;
              left: -108px;
              width: 110px;
              height: 1px;
              border-top: 1px solid #fff;
            }

            &::before {
              bottom: 64px;
              left: -115px;
            }
          }

          &:nth-child(4) {
            &::after {
              top: 0;
              left: -185px;
              width: 190px;
              height: 60px;
              border-bottom: 1px solid #fff;
              border-left: 1px solid #fff;
            }

            &::before {
              top: -12px;
              left: -196px;
            }
          }

          &:nth-child(5) {
            &::after {
              top: 15px;
              left: -350px;
              width: 370px;
              height: 1px;
              border-bottom: 1px solid #fff;
            }

            &::before {
              top: 4px;
              left: -360px;
            }
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    max-width: 230px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    line-height: 20px;
    font-size: 15px;
    font-weight: 300;
  }

  &__photo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    @include onTablet {
      display: block;
    }
  }
}
