.features {
  background-color: #e1e0e1;

  &__content {
    margin-top: 84px;
    padding: 80px 30px 40px;

    @include onTablet {
      padding: 80px 60px 40px;
    }
  }

  &__title {
    @extend %title;
  }

  &__subtitle {
    @extend %subtitle;

    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
    list-style: none;
    font-family: "Yantramanav", sans-serif;

    @include onTablet {
      background-image: url("./../images/features.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      position: relative;

      @include onDesktop {
        &--1 .features__item {
          &:nth-child(1)::after {
            content: url("./../images/svg/feature-1.svg");
            position: absolute;
            top: 30px;
            right: -70px;
          }

          &:nth-child(2)::after {
            content: url("./../images/svg/feature-2.svg");
            position: absolute;
            bottom: 40px;
            right: -90px;
          }

          &:nth-child(3)::after {
            content: url("./../images/svg/feature-2.svg");
            position: absolute;
            top: 10px;
            right: -110px;
          }

          &:nth-child(4)::after {
            content: url("./../images/svg/feature-4.svg");
            position: absolute;
            top: -40px;
            right: -230px;
          }
        }

        &--2 .features__item {
          &:nth-child(1)::after {
            content: url("./../images/svg/feature-5.svg");
            position: absolute;
            top: 40px;
            left: -280px;
          }

          &:nth-child(2)::after {
            content: url("./../images/svg/feature-5.svg");
            position: absolute;
            top: 50px;
            left: -250px;
          }

          &:nth-child(3)::after {
            content: url("./../images/svg/feature-7.svg");
            position: absolute;
            top: 20px;
            left: -90px;
          }

          &:nth-child(4)::after {
            content: url("./../images/svg/feature-8.svg");
            position: absolute;
            top: -40px;
            left: -180px;
          }

          &:nth-child(5)::after {
            content: url("./../images/svg/feature-9.svg");
            position: absolute;
            top: -10px;
            left: -350px;
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    max-width: 250px;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__name {
    font-weight: bold;
  }
}
