.header {
  &__content {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 500px;
    height: 100vh;
    padding: 35px;
    padding-top: 20px;
    background-image: url("./../images/header.jpg");
    background-position: center;
    background-size: cover;
  }

  &__logo {
    display: flex;
    position: absolute;
    top: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 580px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 18px;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;

    @include onTablet {
      font-size: 60px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    margin-bottom: 54px;
    letter-spacing: 0.05px;
    color: #fff;
  }
}
