.range {
  position: relative;
  margin: 0 auto;
  max-width: 860px;

  &__title {
    @extend %title;

    margin: 84px 0 12px;
  }

  &__subtitle {
    @extend %subtitle;

    margin-bottom: 136px;
  }
}

.swiper {
  @extend %subtitle;

  max-width: 465px;

  &-wrapper {
    padding-bottom: 200px;
  }

  &-button-prev,
  &-button-next {
    font-weight: bold;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid #dcdcdc;
    --swiper-theme-color: #dcdcdc;
    --swiper-navigation-size: 10px;
  }
}
