.range {
  position: relative;
  margin: 0 auto;
  max-width: 860px;

  &__content {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend %title;

    margin: 75px 0 15px;

    @include onTablet {
      margin-left: 28px;
    }
  }

  &__subtitle {
    @extend %subtitle;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin-bottom: 22px;

    @include onTablet {
      margin-left: 28px;
    }
  }
}
